/* --- Navbar Styling --- */
.navbar {
  display: flex;
  justify-content: flex-end; 
  align-items: center;  
  height: 4rem;
  padding: 0 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  z-index: 999;
}

.navi {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
  margin-right: 6rem;
}

.navi li {
  font-size: 1.1rem;
  font-weight: 500;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.2s ease;
}

.navi li:hover {
  
  transform: translateY(-2px);
  
}

/* 
.main {
  padding-top: 5rem;
} */

.maincontiner{
  padding-top: 5rem;
  margin: 4rem;
}
